<div class="row">
  <div class="col-md-8">
    <h1><%= @shit.title %></h1>
    <div class="panel panel-default">
      <div class="panel-body">
	<%= @shit.description %>
      </div>
      <div class="panel-footer">
	<small>
	  <%= @shit.user.username %> - 
	  <%= time_ago_in_words(@shit.created_at) %>
	</small>
      </div>
    </div>
    <%= link_to 'Back to List', shits_path %>
  </div>
</div>
<%= render 'comments/form' %>
