<div class="row">
  <div class="col-md-8">
    <% if user_signed_in? && current_user == @shit.user %>
      <div class="pull-right new-button">
	<%= link_to 'Edit', edit_shit_path(@shit), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <h1><%= @shit.title %></h1>
    <div class="panel panel-default">
      <div class="panel-body">
	<%= simple_format @shit.description %>
      </div>
      <div class="panel-footer clearfix">
	<small>
	  <%= @shit.user.username || @shit.user.email %> - 
	  <%= time_ago_in_words(@shit.created_at) %>
	</small>
	<div class="pull-right">	  
	  <%= form_for([@shit, Like.new], :url => shit_like_path(@shit), :html => {:class => 'form-inline'}) do |f| %>
	    <button type="submit" class="btn btn-sm btn-default">
	      <span class="glyphicon glyphicon-heart"></span>	  
	      <span class="badge">
		<%= @shit.likes.count %>
	      </span>
	    </button>
	  <% end %>	  
	</div>
      </div>
    </div>
    <%= link_to 'Back to List', shits_path %>
  </div>
</div>
<%= render 'comments/form' %>
